# These variables are only required if you are using docker
SERVER_PORT=8000 # Port where the server will be running
DB_USER='postgres' # User for the database
DB_HOST='db' # Host for the database (this should be same as the service name in docker-compose.yml)
DB_NAME='maya' # Name of the database
DB_PASSWORD='password' # Password for the database (this is default password for postgres docker image)
DB_PORT=5432 # Port for the database
TESTS_DB_USER='postgres' # User for the database
TESTS_DB_HOST='tests_db' # Host for the database (this should be same as the service name in docker-compose.yml)
TESTS_DB_NAME='maya_test' # Name of the database
TESTS_DB_PASSWORD='password' # Password for the database (this is default password for postgres docker image)
TESTS_DB_PORT=5433 # Port for the database
# Docker variables end

PORT=8000 # Port where the server will be running
# Use this if you are using local postgres
DATABASE_URL="postgresql://user:password@localhost:5432/mydb?schema=public"
# User this DATABASE_URL if you are using docker
# DATABASE_URL="postgresql://postgres:password@db:5432/maya?schema=public"
# Mail configuration for sending emails in production
MAIL_HOST="smtp.somehost.com"
MAIL_USER="user"
MAIL_PASSWORD="password"

# RSA keys for generating JWT tokens use 2048 bits key
ACCESS_TOKEN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAgGnqGm6xWwonbXw+S/vFJzSqp9wUZSE9fgR5KDTRAJyz+l0W
omGhcZeWHSUD1z8ib4rd7+Pr8Rr4GlNvTSO0oVyAZN95DPtcF85aLPs0g8q1XFZH
XirlsAU1DqVMV+skqRa0lBpS5s0yD+Hns7Qgy9t0DIAlKkDQPBihu+KBxF5jt4ea
5vgOcQqQsfgzEFSkFFRqMJLZXTsy4e0sjzjv8azw9UJiAGTcfT9CTmaSTY5ohHHi
zK08gs1Kx7maaErsfF+ZccuewCvRHzAy9RsAnDoLGQuEj/DcX2UtPk1TGdwpkqrd
VFl9S/Q9VJ2dHdL8RWcUXLQWAo7aT5qEUeev9QIDAQABAoIBAH9cDJJQrNhVVstw
yTyFJYF/6632ScgPUrS0bRGiaJPJ13r9bmB4oi1OIdUgDBIkjNvCB+JP1IdZry41
CBOi0Rik7LafKajld+4ofClWsDvyBTPiYoAT3aBZWcj/ypr8HW0SluC4xvYgF4HH
FQ2XHlvxeMSZJ8MjayPfbjExMnD1mMZv7qeeWPjkf+qyIR4ClaFJei52jyu8YJsV
FQ+Dbo9TnNqdexsudUEh3a8hPBv0GRd+xVtHZSs1GQ0NLaRC/gv6WCo088Tzv7kS
oaa0Dk6zSdsvbORO0jn0Al1Bsd/2ExSAnileL+7dXsLMp12YUUqbYIu+u6+oS1e7
bbUJThUCgYEA4MUi2ySpL6RZ48VDbEL1FeyXLxOTtAPWoZugHIB1K2emA4G2F4E0
2a5B2aIQII8qbiELTW0J7MEsNUlPwF3zRMJWt8LKXhwCpckTaUY4PcH0hV7CUA9L
wG13lXnYBkYNHeVOeu9QB+Ovn4zyu4LmFxpRFmteuBprvae8WcKgISMCgYEAkkF4
6/uF4pxyAKYispDIwjIHteCSqCR0+ltEWqWhvhe/CHX6DQOOG8G7eo7bsADNE84f
lpkoNxhLnPJl6xiuGL4iFmoQhbIb6NjRnENGUrA7vqk9Kis8PGxIAx5g3NM110PX
V6eFknQlOk/ZIHJ/aJ3lJ1gOkPXW37wMustemAcCgYAnlrE/9eISsRjgBEOO0vBF
70jlksYmI7Lu/fEidAGvJm9YGMWQuEItwQJ6KZA7m9u2T/2konroB1IZBJOWZzXM
u4n4jceE8dwJhTP1C9gmEH5X60vAPCF0gBNa8X36BOaUiGndPz9SVGj/ahzqp/CM
yybTExA4zvaBDgUfrib0DwKBgQCRbqlffuzTOd3i51D5Xx9Ce51PLdCnghkQGlEO
EkWTUOmU8DuFVVOqJirW49dwXFuQphajGgjzQCVwG1ldPV1hHS+oOi/TwhgeoftM
91imQLgoDwHTPMrZCpNRBpQrAZs4Qy2O6/XWe8fJBD1UFoa68Mc9KELTwqG4OLYv
yKp3YQKBgQCgC6h/OripVlI0xPqWCDO4wXy9V43D9vrJhpyUFvOmj/m/NI4DR2Se
vXLbLrE69IMbOf0n5gYs3IP16D4UhC3Cqjl1+h+CnHiqA3u/mNIePAvzUBrl2nec
No9ckllcBq8nwmQC5Yf3deruA27xBzwvTf35DeMchwgzuCQHnnCUCw==
-----END RSA PRIVATE KEY-----"
ACCESS_TOKEN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgGnqGm6xWwonbXw+S/vF
JzSqp9wUZSE9fgR5KDTRAJyz+l0WomGhcZeWHSUD1z8ib4rd7+Pr8Rr4GlNvTSO0
oVyAZN95DPtcF85aLPs0g8q1XFZHXirlsAU1DqVMV+skqRa0lBpS5s0yD+Hns7Qg
y9t0DIAlKkDQPBihu+KBxF5jt4ea5vgOcQqQsfgzEFSkFFRqMJLZXTsy4e0sjzjv
8azw9UJiAGTcfT9CTmaSTY5ohHHizK08gs1Kx7maaErsfF+ZccuewCvRHzAy9RsA
nDoLGQuEj/DcX2UtPk1TGdwpkqrdVFl9S/Q9VJ2dHdL8RWcUXLQWAo7aT5qEUeev
9QIDAQAB
-----END PUBLIC KEY-----"
REFRESH_TOKEN_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
MIIEoQIBAAKCAQBXs21TVosLp6WEwMxL5ROOfL1UHhLcWnONtghs8vtNqiKgkkT2
7b6jhLQPhZlp/uqk0D4D9YBWV/cWgzmPdaq8y9B/J8hLT/DmETfPyOR0sR13ulc/
kGT7HwIBTyHsx67uao2MJfTKn9RkBDq2svYfZg/Nc4SocKCkev8Az2qMc2h/jGLe
nVHKwHM9bqkwroidksjT1etFkVMsqJoP97CKWnPLu0AzO7Pzw5mjR5CoTyB46g/P
dzqjgKW8A99P41Oy+A0s/5gPhl9KVARd1cMIV19Y7nc7V3Aw16bdHgW/AcOE3AH5
eLSiZRyQxEsLp/h3ra5kV2hFX55C9lCL29GPAgMBAAECggEAIqZUalnGA+vPnHyj
+tRd/qzQDLz5DLB7+SBTgeAaY9v1ZGWF892ItYhHr95D97nssQNJjTzg4LxOdkmQ
Y1rFA2SvUp3AJ+lEr1FcMK8Ze/VCRDyOHiIJk6Hzo9rE940JU08r75RLfAbb3kxB
ek+IqG0ljzG11urwvSuPNp28ZhL3zd7JkjYbKGySWN2Q3DgWuUJHMbrIEeEp0nCF
EugHmM5aN3x01RLT9kmwH2SAWYQcuOSPnhpG3S8SF1buqSfs+XFTHlsAUSZW46iG
cXMOxpWxXWT6lAddv7lnajOZcfLDrcZ1mQajy2g31oWuOc4qrdcCRm80X6lQY580
3HyqkQKBgQCmGReebthfCiKh5tYj+pK9W2u1zbzO873Z7ZGNH2caOj7V72ECMZCI
GPloMw2zFQ62ls9MIDblt1BH3zFahOLxF+0diVSN9tPhhlw1UfTDchp/Z4F/vrRR
ZvpZxEsPL5rdhgqW8jBqawjIb3SQZvU77CuNs19YHYVwWPvK8/UPOQKBgQCHK3Sa
0qkkjpyLagi/pQygzQXwY+ABlsZMIv+GUPXh/QoEkR3rYH8nnK8jf0SEJgbwZMax
CAvLGvlfkacGyMfzJcqtC3L5cg7S+GdZ4zgg/3+U8MykWSxzYSQ6XYSIx/juRnTs
SMK15zzRHL0UfXusARNp6KquQerE22ZGFVSfBwKBgB+riSVcXUVB2XilWw9hJ7mT
ROZVZDrRntF+ytHtuur1UCXajtSsPrK0kFmd4m7TBQsrljsdqVoDqfsKQ47O57aw
qTWIiebHuX6277368oCRsRu50Kda5WbgC7wyAV3T5eN3O22soC6qWfJdzgv6lafn
UCaknPlgJ6FUVi5Mdd2BAoGAVxr43KCuoUFJvknJc36wIZudnSkvfLal+QCAvBTG
Lyi6YPEHX9xidKty7aQhCivbQuUeaYzu1KcAVsbs5OFUgOs0rcj4AamvxeKP74wO
aq1bkSaQKcTRcVUDXJ1RQDflwd8jj/TfjQuD1Jn5ew/WN6TF1vU5sGwIF23vfXBX
hNcCgYBQnhFmG1IN4Zw5xxfneIzcCsgzUzuqV/y08rcfFE2ZOzYYwzGOffG66jNH
nMUOSwbSoHo41Xs4liJgg0QLiPEFGDK6Nvi7ePfwTqhO4CWcojImI3CXrhP1mmH0
BwbKq2bKLbcCecuvXMawxBw3Hpy6i2je1tAgrkxWm0i0Xbd7ow==
-----END RSA PRIVATE KEY-----"
REFRESH_TOKEN_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQBXs21TVosLp6WEwMxL5ROO
fL1UHhLcWnONtghs8vtNqiKgkkT27b6jhLQPhZlp/uqk0D4D9YBWV/cWgzmPdaq8
y9B/J8hLT/DmETfPyOR0sR13ulc/kGT7HwIBTyHsx67uao2MJfTKn9RkBDq2svYf
Zg/Nc4SocKCkev8Az2qMc2h/jGLenVHKwHM9bqkwroidksjT1etFkVMsqJoP97CK
WnPLu0AzO7Pzw5mjR5CoTyB46g/PdzqjgKW8A99P41Oy+A0s/5gPhl9KVARd1cMI
V19Y7nc7V3Aw16bdHgW/AcOE3AH5eLSiZRyQxEsLp/h3ra5kV2hFX55C9lCL29GP
AgMBAAE=
-----END PUBLIC KEY-----"


