{
	"env": {
		"es2021": true,
		"node": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettier",
		"sonarjs",
		"no-secrets",
		"jsonc",
		"pii",
		"no-unsanitized"
	],
	"root": true,
	"extends": [
		"google",
		"prettier",
		"plugin:sonarjs/recommended",
		"plugin:jsonc/base",
		"plugin:pii/recommended",
		"plugin:no-unsanitized/DOM",
		"plugin:prettier/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:node/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 2020,
		" project": "tsconfig.json",
		"tsconfigRootDir": "__dirname",
		"sourceType": "module"
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	},
	"rules": {
		"semi": "error",
		"no-console": "warn",
		"no-tabs": "off",
		"indent": "off",
		"space-infix-ops": "off",
		"no-trailing-spaces": "error",
		"space-before-blocks": "error",
		"quotes": "off",
		"camelcase": "error",
		"valid-jsdoc": "off",
		"no-secrets/no-secrets": "error",
		"pii/no-email": "error",
		"no-invalid-this": "off",
		"spaced-comment": "off",
		"prefer-destructuring": ["error", { "object": true, "array": true }],
		"@typescript-eslint/no-explicit-any": "off",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"warn",
			{ "argsIgnorePattern": "req|res", "varsIgnorePattern": "prop" }
		],
		"@typescript-eslint/ban-types": [
			"error",
			{
				"types": {
					// un-ban a type that's banned by default
					"{}": false
				},
				"extendDefaults": true
			}
		],
		"linebreak-style": "off",
		"object-curly-spacing": "off",
		"comma-dangle": "off",
		"new-cap": "off",
		"require-await": "error",
		"require-jsdoc": "off",
		"sonarjs/cognitive-complexity": "off",
		"sonarjs/no-duplicate-string": "off",
		"sonarjs/no-identical-expressions": "off",
		"sonarjs/no-identical-functions": "off",
		"@typescript-eslint/quotes": ["error", "double"],
		"@typescript-eslint/ban-ts-comment": "off",
		"@typescript-eslint/interface-name-prefix": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto",
				"useTabs": true
			}
		],
		"node/no-unpublished-import": "off",
		"node/no-unsupported-features/es-syntax": "off",
		"node/no-extraneous-import": [
			"error",
			{
				"allowModules": ["express"]
			}
		],
		"node/no-missing-import": [
			"error",
			{
				"allowModules": [],
				"resolvePaths": ["/path/to/a/modules/directory"],
				"tryExtensions": [".js", ".ts", ".json", ".node"]
			}
		],
		"node/handle-callback-err": "error",
		"node/no-path-concat": "error",
		"node/no-process-exit": "error",
		"node/global-require": "error",
		"node/no-sync": "error"
	}
}
