version: "3.8"
services:
    server:
        container_name: server
        restart: always
        ports:
            - ${SERVER_PORT}:${SERVER_PORT}
        depends_on:
            - db
        volumes:
            - .:/usr/src/app

    db:
        container_name: postgres
        image: postgres
        ports:
            - "5433:${DB_PORT}"
        volumes:
            - data:/data/db
        environment:
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}

volumes:
    data: {}
