{
	"env": {
		"es2021": true,
		"node": true,
		"jest": true
	},
	"parser": "@typescript-eslint/parser",
	"plugins": [],
	"extends": ["plugin:node/recommended", "../../.eslintrc"],
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"settings": {
		"import/resolver": {
			"typescript": {}
		}
	},
	"rules": {
		"node/no-unpublished-import": "off",
		"node/no-unsupported-features/es-syntax": "off",
		"node/no-missing-import": [
			"error",
			{
				"allowModules": [],
				"resolvePaths": ["/path/to/a/modules/directory"],
				"tryExtensions": [".js", ".ts", ".json", ".node"]
			}
		],
		"node/handle-callback-err": "error",
		"node/no-path-concat": "error",
		"node/no-process-exit": "error",
		"node/global-require": "error",
		"node/no-sync": "error"
	}
}
